#root
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 60px auto 70px;
}

#header
{
    grid-row: 1;
}

#mainContent
{
    grid-row: 2;
}

#menu
{
    grid-row: 2;
}

#footer
{
    grid-row: 3;
}