#footerHolder
{
    display: grid;
    width: 100%;
    grid-template-columns: auto 60px 25px;
}

#leftStripesHolder
{
    grid-column: 1;
}

#logoHolder
{
    grid-column: 2;
}

#nedmiLogo
{
    margin-top: 8px;
}

#rightStripsHolder
{
    grid-column: 3;
}