#menuHolder
{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    align-content: end;
}

#menuTopHolder
{
    display: block;
    width: 100%;
    grid-row: 1;
    align-items: end;
}

#menuItemHolder
{
    display: block;
    grid-row: 2;
    background-color: #F0F0F0;
}

.menuItem
{
    display: block;
    width: 80%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    margin-top: 32px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #F16A24;
}

.menuItem:hover
{
    background-color: #F16A24;
    color: white;
}