#programHolder
{
    display: grid;
    width: 100%;
    max-height: 600px;
    grid-template-rows: 100%;
    grid-template-columns: 100px 20px auto;
    overflow-y: scroll;
    background-color: white;
}

#timesHolder
{
    grid-column: 1;
}

#timeLine
{
    grid-column: 2;
}

.timeUnit
{
    display: block;
    width: 6px;
    height: 2px;
}

#past
{
    background-color: #F16A24;
}

#future
{
    background-color: #E2E2E2;
}