.speakersHolder
{
    display: grid;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 48px 16px auto;
    grid-template-columns: 20% 70% 10%;
    align-items: end;
    margin-bottom: 40px;
}

.themeLogo
{
    grid-row: 1;
    grid-column: 1;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.theme
{
    grid-row: 1;
    grid-column: 2;
}

.collapseButton
{
    grid-row: 1;
    grid-column: 3;
}

.speakersList
{
    grid-row: 3;
    grid-column: 1/3;
}